<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/shared.css') }}">
    <title>Error 404</title>
</head>

<body style="background-color: #00AA9C; display: flex; flex-direction: column; align-items: center;">
    <h1>Fault 404, Game Point!</h1>
    <p>That url landed just outside the court and we could not find the page</p>
    <h2><a href="/">Home</a></h2>
</body>

</html>