<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/shared.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css') }}">
    <title>Log In</title>
</head>
<body>
    <form action="/api/login" method="post">
        <h1 style="color: #2F4858">LOG IN</h1>
        <input type="text" placeholder="Email" name="email"/>
        <input type="password" placeholder="Password" name="password"/>
        <span style="margin: -1vw 0 0; color: red;" id="error">
            {% if error != None %}
                {{ error }}
            {% else %}
                &nbsp;
            {% endif %}
        </span>
        <input type="submit" value="LOG IN">
        <div style="height: 19vw"></div>
        <span>Not a member yet?</span>
        <a href="{{ url_for('signup') }}"><input type="button" value="SIGN UP"></a>
    </form>
    <img id="photo" src="{{ url_for('static', filename='images/Court.png')}}" alt="Tennis Court Long"/>
</body>
</html>