body {
    margin: 0;
}

h1 {
    margin:  2vw 0 2vw 0;
    font-size: 3vw;
    letter-spacing: 2vw;
    font-family: 'Poppins', serif;
    text-align: center;
}

p {
    font-family: 'Poppins', serif;
    margin: 2vw;
    font-size: 2vw;
    color: white;
}

section {
    display: grid;
    height: 92.5vh;
    max-height: 50vw;
}

a {
    font-family: 'Montserrat', serif;

    text-decoration: None;
    color: black;
    font-size: 1.5vw;

    transition-duration: 250ms;
}

header {
    height: 100vh;
    max-height: 54vw;

    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
}

nav {
    position: fixed;

    top: 0;

    width: 100vw;

    height: 3.854vw;

    background-color: #00CA90;

    transition-duration: 500ms;

    display: grid;

    grid-template-columns: 20% repeat(5, auto);
}

nav > a {
    margin: auto;
    color: white;
}
nav > a:hover,
#active {
    text-shadow: 2px 2px #2F4858;
}

#manager-photo {
    background-repeat: no-repeat;
    background-position: center bottom;
    background-attachment: fixed;
    background-position-x: -7.5vw;
}