body {
    overflow-x: hidden;
}


section {
    display: grid;
    height: 92.5vh;
    max-height: 50vw;
}

header {
    height: 100vh;
    max-height: 54vw;

    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
}

nav {
    position: fixed;

    z-index: 1;

    top: 0;

    width: 100vw;

    height: 3.854vw;

    background-color: rgba(25, 25, 25, 0.25);

    display: grid;

    grid-template-columns: 20% repeat(5, auto);

    transition-duration: 250ms;
}

.nav-scrolled {
    background-color: #00CA90;
}

#nav-logo {
    position: absolute;

    top: -0.5vw;
    left: 11%;

    transform: translate(-50%, 50%);

    opacity: 0;

    width: 10vw;

    transition-duration: 250ms;
}

#header-logo {
    position: absolute;

    top: 30vw;
    left: 50%;

    transform: translate(-50%, 50%);

    width: 50vw;
}

header > * > a {
    margin: auto;
    color: white;
}

header > * > a:hover{
    text-shadow: 3px 3px 3px #2F4858;
}

.active {
    color: #2F4858;
}

#manager-photo {
    background-repeat: no-repeat;
    background-position: center bottom;
    background-attachment: fixed;
    background-position-x: -7.5vw;
}

#account-dropdown {
    position: fixed;
    display: flex;

    opacity: 0;

    justify-content: space-between;

    height: 5vw;

    top: 3.2vw;
    right: 5.5vw;

    flex-direction: column;

    transition-duration: 250ms;

    pointer-events: none;
}
